<html lang="ru">

<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
     {% block title %}
              
    {% endblock %}
</head>

<body>
    <div class="ui center aligned padded grid">
        <div class="purple row">
            <div class="column">
                <h3>LandProber</h3>
            </div>
        </div>
        {% block content %}
              
        
        {% endblock %}
        <div class="row">
            <div class="column">
                <div class="row">

                    Попробуйте позже или вернитесь на главную страницу сайта.</div>


            </div>
        </div>
        <div class="row">
            <a href="/">
                <div class="ui purple button">Вернуться</div>
            </a>
        </div>
       {%block icon%}
        
        {% endblock %}
    </div>


</body>

</html>